/* ///// FONTES - RESET - VARIABLES ///// */
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Thin.otf") format(opentype);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-ExtraLight.otf") format(opentype);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Light.otf") format(opentype);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.otf") format(opentype);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Medium.otf") format(opentype);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-SemiBold.otf") format(opentype);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Bold.otf") format(opentype);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-ExtraBold.otf") format(opentype);
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Black.otf") format(opentype);
    font-style: normal;
    font-weight: 900;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    width: 0px;
}
html{
    --sun-dark: #ffad32;
    --sun: #FFCA7B;
    --sun-light: #ffe4bb;

    --misty: #FFEAE9;
    --peach: #fdc09c;
    --peach-light: #ffeadf;
    --pimp: #ff2600; 
    --rose: #fabaad;
    --rose-light: #FBD0C7;
    --gris: #A5A9AD;
    --dark: #2e3031;
}



/* ///// CLASSES GENERALES ///// */
/* commentaires */
.rmq{
    display: none;
}
/* boutons */
.bouton-1{
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 1.5em auto;
    padding: 6px 10px;
    border: 2px solid var(--dark);
    border-radius: 6px;

    background-color: transparent;
    color: inherit;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.bouton-1:hover{
    background-color: var(--dark);
    color: var(--peach-light);
}

/* peach-colored */
.peachLight{
    background-color: var(--peach-light);
}

/* flexboard */
.flexBoard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flexBoard>*{
    background-color: white;
    border-radius: 5px;
    margin: 1em;
    max-width: 220px;
    overflow: hidden;
}
.flexBoard figcaption{
    padding: 10px;
} 
.flexBoard p, .flexBoard a{
    font-size: 0.8em;
}
.flexBoard .bouton{
    border-color: var(--pimp);
    color: var(--pimp);
    transition: color 0.3s ease-in-out;
}
.flexBoard .bouton:hover{
    transform: scale(1.3);
    color: var(--dark);
}



/* ///// AUTES STYLES GENERAUX ///// */
body{
    color: var(--dark);
}
section{
    padding: 2em 5vw;
}
img{
    display: block;
    max-height: 100%;
}
h2, h3, h4{
    margin: 0.5em auto 1em;
    font-weight: 700;
}
h2{
    display: block;
    font-weight: 700;
    color: var(--pimp);
    font-size: 2.2em;
    width: fit-content;
    line-height: 1.1em;
}
h2>span{
    text-transform:capitalize;
    font-family: 'Times New Roman';
    font-style: italic;
    letter-spacing: -3px;
    font-size: 1.3em;
}
h3{
    font-size: 1.5em;
}
p{
    margin: 1em 0;
    line-height: 1.7em;
    text-align: justify;
}
ul, ol{
    line-height: 1.7em;
}
a{
    font-weight: 600;
    color: inherit;
}


/* ///// LOREMS ///// */
.lorem{
    background-color: lightgray;
}
.lorem>span{
    display: block;
    font-style: italic;
    font-size: 3em;
    line-height: 1em;

}
.lorem>span:nth-child(1){ font-family: 'Times New Roman';}
.lorem>span:nth-child(2){ font-family: 'Georgia';}
.lorem>span:nth-child(3){ font-family: 'Palatino';}
.lorem>span:nth-child(4){ font-family: 'Baskerville';}
.lorem>span:nth-child(5){ font-family: 'Bradley Hand';}
.lorem>span:nth-child(6){ font-family: 'Brush Script MT';}
.lorem>span:nth-child(7){ font-family: 'Luminari';}


.rmq{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    color: rgb(149, 255, 255);
    background-color: rgb(0, 0, 0);
}
.flexBoard img{
    background-color: lightgray;
    height: 150px;
    width: 100%;
}
.calendrier{
    width: 100%;
    height: 15em;
    background-color: lightgray;
}
.post{
    background-color: lightgray;
    width: 200px;
    height: 200px;
}
video{
    background-color: lightgray;
    max-width: 100%;
}