/* ///// SUR L'INDEX : ///// */
.partenaires{
    text-align: center;
    margin-bottom: 1.5em;
    line-height: 40px;
    word-spacing: 1ex;
}
.partenaires>img{
    display: inline;
    height: 50px;
}

