@font-face {
    font-family: "aileron";
    src: url("fonts/Aileron-Regular.otf") format(opentype);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "aileron";
    src: url("fonts/Aileron-Italic.otf") format(opentype);
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "aileron";
    src: url("fonts/Aileron-Bold.otf") format(opentype);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "aileron";
    src: url("fonts/Aileron-BoldItalic.otf") format(opentype);
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "aileron";
    src: url("fonts/Aileron-Light.otf") format(opentype);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "aileron";
    src: url("fonts/Aileron-LightItalic.otf") format(opentype);
    font-style: italic;
    font-weight: 100;
}